<ion-header>
  <ion-toolbar [color]="statusOnline ? 'primary' : 'dark'">
    <ion-title>
      Network Detection
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button [routerLink]="['/test-page']">Test Page</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!--<h1>Connection status: {{networkStatus && networkStatus.connected ? "Online" : "Offline"}}</h1>-->
    <h1>Connection status: {{statusOnline ? "Online" : "Offline"}}</h1>
    
    <p>See more Ionic content at <a href="https://developer.school">developer.school</a></p>
  </div>

  <div class="ion-padding">
    <ion-buttons slot='end'>
      <ion-button [routerLink]="['/test-page']">Test Page</ion-button>
      <ion-button [routerLink]="['/testappcomponent']">Test App Comp</ion-button>
    </ion-buttons>
  </div>
</ion-content>